.App {
  font: {
    size: 1em;
    family: "Bebas Neue", helvetica, arial, sans-serif;
    weight: 600;
  }

  text-align: center;
  margin: 0em auto 2em;
  max-width: 48em;
  color: white;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

header {
  margin-bottom: 1em;
  font-size: 1em;
}

.content {
  font-size: 1.15em;
  line-height: 1.5em;
  padding: 1.5em 1.75em 0;
  font-weight: 100;
}

h1 {
  text-align: center;
}

p {
  background-color: rgba(0, 0, 0, 0.8);
  border: 3px solid;
  border-radius: 2.5em;
  padding: 20px;
}

article {
  text-align: left;
}

body {
  z-index: 0;
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: rgba(0, 0, 0, 1);
  background-position-y: -15px;
  background-position: center;
  animation: mymove 60s infinite;
}

@keyframes mymove {
  0% {
    background-image: url(../src/img/makeba.png);
  }
  25% {
    background-image: url(../src/img/thewho.webp);
  }

  50% {
    background-image: url(../src/img/dylan.webp);
  }

  75% {
    background-image: url(../src/img/santana.webp);
  }

  100% {
    background-image: url(../src/img/cash.webp);
  }
}

@media screen and (max-width: 520px) {
  .App {
    font-size: 0.85em;
  }

  h1 {
    font-size: 2em;
  }
}
